@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,800;1,500&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
}


[light] .hero {
    width: 100%;    
    background-image: linear-gradient(rgba(235, 230, 230, 0.8), rgba(236, 226, 226, 0.8)), url(pictures/house.jpg) ;   
    background-size: cover;
    background-position: center;    
    position: relative; 
    overflow: hidden;
    height: 250vh;        
}

/* ---------------------------------leftside------------- */
[light] .wrapper {
    flex-basis: 17%;
}
[light] .wrapper .sidebar {
    background:linear-gradient(rgba(235, 230, 230, 0.8), rgba(236, 226, 226, 0.8));
    position: fixed;
    top: 190px;
    left: 0;
    width: 17%;
    height: 100%;    
    border-right: 2px solid rgb(40, 41,123);   
}
[light] .profile {
    position: fixed;
    width: 17%;
    background: rgb(40, 41,123);
    border-right: 1px solid rgb(40, 41,123);       
}
[light] .wrapper .profile img {
    display: block;
    width: 100%;
    height: 190px;    
    margin: 0 auto;
}

[light] .wrapper .sidebar ul li [menu] {
    display: block;
    padding: 18px 30px;
    border-bottom: 1px solid rgb(40, 41,123);
    font-size: 16px;
    position: relative;
    color: rgb(40, 41,123);
    cursor: pointer;
}
[light] .wrapper .sidebar ul li [menu] .icon {
    width: 30px;
    display: inline-block;    
}
[light] .wrapper .sidebar ul li:first-child {
    border-top: 1px solid #f5f6fa;
}
[light] .wrapper .sidebar ul li [menu]:hover,
[light] .wrapper .sidebar ul li [menu].active {
    color: #f5f6fa;
    background: rgb(40, 41,123);  
    border-color: #f5f6fa;    
}
[light] .wrapper .sidebar ul li [menu]:hover .icon,
[light] .wrapper .sidebar ul li [menu]:active .icon {
    color: #f5f6fa;
} 
[light] .wrapper .sidebar ul li [menu]:hover::before,
[light] .wrapper .sidebar ul li [menu]:active::before {
    display: block;    
}
[light] .container {   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}

[hide] {
    display: none;
}
[light] .container2 {
    flex-basis: 83%; 
    display: inline-block;  
    color: #05060c;   
}

[light] .mainContent {
    width: 80%;
    margin: 95px auto;
}

[light] .mainContent h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 42px;
}


/* ---------------------------------Home------------------- */


/*
[light] .mainContent h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 42px;
    color: transparent;
    -webkit-text-stroke: 1px #05060c;
    background: url(back1.png); 
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;   
}
@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

[light] .mainContent h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 42px;
    position: relative;
    overflow: hidden;
    color: #05060c;    
}
[light] .mainContent h1:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 20px;
    height: 75%;
    z-index: 5;
    background: rgba(255, 255, 255, 0.6);
    filter: blur(8px);

    transform: translateX(-60px) skew(-45deg);
    animation: move 55s 1s infinite;
}

@keyframes move {

    0% {
        transform: translateX(-60px) skew(-45deg);
    }
    20%, 100% {
        transform: translateX(700px) skew(-45deg);
    }
}
*/


[light] .mainContent h3 {
    font-size: 26px;
    margin-top: 45px;
    text-align: center;
}
[light] .mainContent p {
    font-size: 23px;
    margin: 55px 0 130px;
    line-height: 60px;
    font-weight: 600;
}
[light] .mainContent .welcome::after {
    content: '';
    background: rgb(40, 41,123);
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

[light] .line-1 {
    width: 15px;
    height: 15px;
    display: inline-block;
    background: rgb(40, 41,123);
}
[light] .line-2 {
    width: 80px;
    height: 1px;
    display: inline-block;
    background: rgb(40, 41,123);
}
[light] .line-3 {
    width: 60px;
    height: 1px;
    display: inline-block;
    background: rgb(40, 41,123);
}
[light] .line {
    line-height: 8px;
    position: absolute;
    top: 0;
    left: 0;    
}
[light] .logoMeduska {
    display: none;
}
[light] #iconThemeSun {
    display: none;
}
[light] .iconTheme {
    width: 30px;
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 50px; 
    color: rgb(40, 41,123);         
}
[light] .bubbles {
    display: none;
}
[light] .topHead {
    display: flex;
    justify-content: center;
    position: relative;    
}
[light] .topHead .welcome::after {
    content: '';
    background: #05060c;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
/*--------------------------------------------------------------calculators-----------------------------------*/

form {
       
}
.profileReviewCalculator {
    margin: 150px auto;
    padding: 50px 30px 10px;
    background-color: rgb(40, 41,123);    
    width: 1200px;
    height: 800px; 
    position: relative;   
    border-radius: 10px;
    color: #f5f6fa;  
    border: 2px solid transparent; 
}
[light] .profileReviewCalculator:hover {
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    border: 2px solid #f5f6fa;   
    border-collapse: collapse;    
}
.inputGroup {
    margin-bottom: 60px;
    position: relative;    
}
.fas, .far  {
    margin-right: 5px;
}
label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #f5f6fa;
    cursor: text;
    transition: 0.2s;
    font-size: 24px;
}
input:focus~label,
input:valid~label {
    top: -35px;
    font-size: 14px;
}

.inputGroup input {
    width: 600px;
    height: 65px;
    background: rgb(40, 41,123);
    color: #f5f6fa;
    border: 1px solid #f5f6fa;
    border-radius: 10px; 
}
.inputGroup input::-webkit-outer-spin-button,
.inputGroup input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form:first-child {
    margin-top: 12px;
}

.buttonCalculate {
    width: 100%;
    height: 65px;
    border-radius: 10px;
    border: 1px solid #f5f6fa;
    font-size: 28px;
    font-weight: 600;
    color: #05060c;
}
.groupAnswers {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.answerSquare {
    width: 270px;
    height: 170px;
    background: #f5f6fa;
    border: 1px solid #05060c;
    margin-top: 55px;
    border-radius: 10px;
    color: #05060c;
    padding: 20px;
}

.answerSquare div {
    display: flex;
    align-items: center; 
    font-size: 50px;
    margin-bottom: 30px;  
}
.answerSquare>h4 {
    font-size: 22px;
}
.answerSquare div i {
    margin-right: 15px;
}
/*--------------------------------------------------------------reviews-----------------------------------*/



[light] .mainContent .row {
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    padding: 30px 0;
    justify-content: space-between;
}

[light] .profileReview {
    margin: 40px 0;
    padding: 50px 30px 10px;
    background-color: rgb(40, 41,123);    
    width: 500px; 
    position: relative;   
    border-radius: 10px;
    color: #f5f6fa;  
    border: 2px solid transparent; 
}
[light]  blockquote {
    font-size: 18px;
    line-height: 38px;
    text-align: left;
    margin: 30px 0;
    text-indent: 38px;
}
[light] .fa-quote-left {    
    font-size: 40px;
    color: #f5f6fa;    
    position: absolute;
    top: 20px;
    left: 30px;           
}
[light] .fa-quote-right {
    font-size: 40px;
    color: #f5f6fa;
    position: absolute;
    bottom: 20px;
    right: 30px;
}
[light] .profileReview:hover {
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    border: 2px solid #f5f6fa;   
    border-collapse: collapse;    
}


/* ------------------------------------------------------------------partners--------------------------------------------------------------------*/


[light] .sectionContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;       
}
[light] .logos {    
    margin: 70px auto;
}
[light] .singleService {
    flex-basis: calc(100% / 5);    
    margin-bottom: 40px;    
}
[light] .singleServiceWrapper {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 5px 10px rgb(102 0 255 / 7%);
    transition: 0.2s;
    height: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
}
[light] .singleServiceWrapper:hover {
    box-shadow: none;
    transform: scale(0.985);
    cursor: pointer;
}
[light] .textMiddle p {
    font-size: 18px;
    line-height: 40px;    
    text-align: center;    
}
/*----------------------------media-partners---------------------------------*/

@media screen and (max-width: 1200px) {
    .mainContent {
        max-width: 960px;
    }
    .singleService {
        flex-basis: calc(100% / 4);
    }
}

@media screen and (max-width: 992px) {
    .mainContent {
        max-width: 720px;
    }
    .singleService {
        flex-basis: calc(100% / 3);
    }
}
@media screen and (max-width: 768px) {
    .mainContent {
        max-width: 540px;
    }
    .singleService {
        flex-basis: calc(100% / 2);
    }
}

@media screen and (max-width: 540px) {
    .mainContent {
        max-width: 100%;
    }
    .singleService {
        flex-basis: calc(100% / 1);
    }
}



/* --------------------------------------------------------------------contacts----------------------------------------------------------*/

[light] .contact-right {    
    padding: 40px;
    padding-right: 0;
    background: rgb(40, 41,123);
    color: #f5f6fa;
    width: 40%;    
}
[light] .contacts {
    display: flex;    
}

[light] .contact-right h3 {
    font-weight: 600;
    margin-bottom: 20px;
}
[light] tr td:first-child {
    padding-right: 20px;
}
[light] tr td {
    padding-top: 30px;
}
[light] .iconContact {
    margin-right: 10px;
}
[light] .contact-right h3 {
    text-align: start !important;
}
/*---------------------------------------------------------------------------facebook---------------------------------------------*/
.iconSocial a {
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 40px;     
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    background-image: linear-gradient(rgb(40, 41,123) 50%, rgb(40, 41,123) 50%);
    background-size: 100% 200%;    
    background-position: 0% 5%;
    transition: 0.5s;
    color: #f5f6fa;
    border-radius: 5px;
    border: 2px solid #f5f6fa;
}
.iconSocial a:hover {
    background-image: linear-gradient(rgb(40, 41,123), rgb(40, 41,123));
    color: #f5f6fa;
    background-position: 0% 100%; 
    cursor: pointer;
    border: 3px solid #f5f6fa;
    border-radius: 5px;
}
.iconSocial {   
    animation: moveleft 2s linear;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
    margin-top: 30px;
}
@keyframes moveleft {
    0% {
        transform: translateX(590px);
        visibility: visible;
    }
    100% {
        transform: translateX(0);
        visibility: visible;
    }
}

